<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Detalle De Usuario' }) %>

    <body>
        <%- include('./partials/header') %>
            <main class="userInfo">
                <div class="profileBox">
                <section>
                    <div class="userProfile">
                        <h2>
                                Hola <%=usuario.fullName%>

                        </h2>
                    </div>
                </section>
                <div class="userDetail">
                    <div class="userImage">
                        <img src="/images/users/<%=usuario.avatar%>" class="profilePic">
                    </div>
                

                <section id="userData">
                    <article>
                        <h3>Nombre:</h3>
                        <p>
                            <%= usuario.fullName %>
                        </p>
                    </article>
                    <article>
                        <h3>Usuario:</h3>
                        <p>
                            <%= usuario.username %>
                        </p>
                    </article>
                    <article>
                        <h3>Correo electrónico:</h3>
                        <p>
                            <%= usuario.email %>
                        </p>
                    </article>
                    <article>
                        <h3>Perfil:</h3>
                        <p>
                            <%= usuario.category %>
                        </p>
                    </article>
                    <article>
                        <h3>Fecha de Nacimiento:</h3>
                        <p>
                            <%= usuario.birthday %>
                        </p>
                    </article>
                </section>
            </div>
                <section class="editProfile">
                            <a href="/users/edit">Editar perfil</a>
                </section>
            </div>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>