<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Editar Usuario'})  %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <form class="formulario" action="/users/profile?_method=PUT" method="POST" enctype="multipart/form-data">

                    <h3 class="titulo-formulario"> Edita tu informaci칩n de perfil </h3>

                    <input class="input-text" placeholder="Nombre y Apellido" type="text" name="fullname"
                        id="nombre-apellido" value="<%= user.full_name  %>" >  
                    <% if (locals.registerErrors && registerErrors.fullName) { %>
                        <p class="error-message"><%= registerErrors.fullName.msg %>  <i class="fas fa-exclamation-circle"></i></p>
                    <% } %>

                    <input class="input-text" placeholder="Usuario" type="text" id="usuario" name="username"
                    value="<%= user.user_name  %>">
                    <% if (locals.registerErrors && registerErrors.username) { %>
                        <p class="error-message"><%= registerErrors.username.msg %>  <i class="fas fa-exclamation-circle"></i></p>
                    <% } %>

                    <input class="input-text" placeholder="Correo electr칩nico" type="email" id="mail" name="email"
                    value="<%= user.email  %>">
                    <% if (locals.registerErrors && registerErrors.email) { %>
                        <p class="error-message"><%= registerErrors.email.msg %>  <i class="fas fa-exclamation-circle"></i></p>
                    <% } %>
                    
                        <label for="avatar">Avatar de usuario:</label>
                            
                        <input 
                                id="avatar"
                                type="file"
                                name="avatar"
                                accept=".jpg, .png"
                                value="<%= user.avatar %>  "> 

                    <% if (locals.registerErrors && registerErrors.avatar) { %>
                            <p class="error-message"><%= registerErrors.avatar.msg %>  <i class="fas fa-exclamation-circle"></i></p>
                    <% } %>

                    <input class="input-text" placeholder="Contrase침a" type="password" name="contrasena" id="contrasena"
                    value="<%= user.password  %>">
                    <% if (locals.registerErrors && registerErrors.password) { %>
                        <p class="error-message"><%= registerErrors.password.msg %>  <i class="fas fa-exclamation-circle"></i></p>
                    <% } %>
                    <input class="input-text" placeholder="Confirma la contrase침a" type="password" name="contrasenaConf"
                        id="contrasenaConfirmada"
                        value="<%= user.password  %>">
                        <% if (locals.registerErrors && registerErrors.password) { %>
                            <p class="error-message"><%= registerErrors.password.msg %>  <i class="fas fa-exclamation-circle"></i></p>
                        <% } %>

                    <input class="input-text" type="date" id="fechaNacimiento" name="birthday"
                    value="<%= user.birthday %>">
                    <% if (locals.registerErrors && registerErrors.birthday) { %>
                        <p class="error-message"><%= registerErrors.birthday.msg %>  <i class="fas fa-exclamation-circle"></i></p>
                    <% } %>

                    <label for="role">Rol</label>
                    <select name="role" id="role">
                        <% for (let i = 0; i < role.length; i++) { %> 
                            <% if (role[i].id == user.role_id) { %> 
                                <option value="<%= role[i].id %>" selected>
                                    <%= role[i].name %> 
                                </option>
                            <% } else { %> 
                                <option value="<%= role[i].id %> ">
                                    <%= role[i].name %> 
                                </option>
                            <% } %> 
                        
                        <% } %> 
                    </select>

                    <label for="country">Country</label>
                    <select name="country" id="country">
                        <% for (let i = 0; i < country.length; i++) { %> 
                            <% if (contry[i].id == contry.role_id) { %> 
                                <option value="<%= contry[i].id %>" selected>
                                    <%= country[i].name %> 
                                </option>
                            <% } else { %> 
                                <option value="<%= country[i].id %> ">
                                    <%= country[i].name %> 
                                </option>
                            <% } %> 
                        
                        <% } %> 
                    </select>



                    <input class="boton-registrarme" type="submit" value="Editar Perfil">

                </form>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>