<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: 'Editar producto'})  %>
<body>
    <%- include('./partials/header') %>
    
       <main class="main-create-product">
        <form id="editProduct-form" class="formulario" class="create-form" action="/products/<%=product%>/edit?_method=PUT" method="POST" enctype="multipart/form-data">

                    
            <h2 class="titulo-formulario">
            Formulario de Edición de Productos
            </h2>
                    <label for="prod-name">Nombre del Producto </label>
                                    
                    <input 
                        class="input-text" 
                        id="prod-name" 
                        type="text" 
                        name="prodName"
                        value="<%= oldData.name %>"
                        value="<%= locals.oldData ? oldData.name : null  %>">
                    
        <!-- para elementos con select: selected  ejs locals.oldData && oneCountry === oldData.country ? 'selected' : null-->
                    <% if (locals.errorsMessage && errorsMessage.prodName) {%> 
                    
                            <p class="error-message"><%= errorsMessage.prodName.msg %>  <i class="fas fa-exclamation-circle"></i></p>
                        
                        <% } %> 

                        <div class="prodName_validation">

                        </div>

            
                <label  for="description">Descripción</label>
                    
                    <textarea class="input-text" name="description" id="prod-description"><%=oldData.description%></textarea>
                    <% if (locals.errorsMessage && errorsMessage.description) {%> 
                    
                        <p class="error-message"><%= errorsMessage.description.msg %>  <i class="fas fa-exclamation-circle"></i></p>
                    
                    <% } %> 
            
                    <div class="prodDescription_validation">

                    </div>

                <label for="image">Foto del Producto:</label>
                    <p>Elegiste la imagen: <%=oldData.file %> </p>
                    
                    <input 
                            id="image"
                            type="file"
                            name="image"
                            accept=".jpg, .png"
                            value="<%= oldData.image %>"
                            > 
                            <% if (locals.errorsMessage && errorsMessage.image) {%> 
                    
                                <p class="error-message"><%= errorsMessage.image.msg %>  
                                    <i class="fas fa-exclamation-circle"></i></p>
                            
                            <% } %> 
                            
                            <label for="category">Categoría</label>
                            <select name="category" id="category">
                                <% for (let i = 0; i < categories.length; i++) { %> 
                                    <% if (categories[i].id == oldData.category_id) { %> 
                                        <option value="<%= categories[i].id %>" selected>
                                           <%= categories[i].name %> 
                                        </option>
                                    <%} else { %>
                                        <option value="<%= categories[i].id %>">
                                            <%= categories[i].name %> 
                                         </option>

                                    <%}%>
                               
                                <% } %> 
                            </select>

                            <label for="gender">Géneros</label>
                            <select name="gender" id="gender">
                                <% for (let i = 0; i < genders.length; i++) { %> 
                                    <% if (genders[i].id == oldData.gender_id) { %> 
                                        <option value="<%= genders[i].id %>" selected>
                                            <%= genders[i].name %> 
                                        </option>
                                    <%} else {%>
                                        <option value="<%= genders[i].id %> ">
                                            <%= genders[i].name %> 
                                        </option>
                                    <% } %> 

                                
                                <% } %> 
                            </select>
                        
                

                            <label for="size">Talle</label>
                            <select name="size" id="size">
                                <% for (let i = 0; i < sizes.length; i++) { %> 
                                    <% if (sizes[i].id == oldData.size_id) { %> 
                                        <option value="<%= sizes[i].id %>" selected>
                                            <%= sizes[i].name %> 
                                        </option>
                                    <% } else { %>
                                        <option value="<%= sizes[i].id %> ">
                                            <%= sizes[i].name %> 
                                        </option>
                                    <% } %> 

                               
                                <% } %> 
                            </select>
                            
                            <label for="brand">Marca</label>
                            <select name="brand" id="brand">
                                <% for (let i = 0; i < brands.length; i++) { %> 
                                    <% if (brands[i].id == oldData.brand_id) { %> 
                                        <option value="<%= brands[i].id %>" selected>
                                            <%= brands[i].name %> 
                                        </option>
                                    <% } else { %> 
                                        <option value="<%= brands[i].id %> ">
                                            <%= brands[i].name %> 
                                        </option>
                                    <% } %> 
                                
                                <% } %> 
                            </select>
                            

                <p>Precio</p>
            
                    <input class="input-text" id="price" type="number" name="price"  value="<%=oldData.price%>" >
                    <% if (locals.errorsMessage && errorsMessage.price) {%> 
                    
                        <p class="error-message"><%= errorsMessage.price.msg %>  <i class="fas fa-exclamation-circle"></i></p>
                    
                    <% } %> 
                
                    <div class="prodPrice_validation">
                        
                    </div>

                    <label  for="inSale"> ¿Este producto está en oferta?</label>
                    <br>
                    <select name="inSale" id="inSale">
                        <option value = true>Sí</option>
                        <option value = false>Por ahora no</option>
            
                    </select>
                                
                <label for="discount">Descuento </label>
                
                <input class="input-text" id="discount" type="number" name="discount" value="<%=oldData.discount%>">
            

                <button type="submit" class="boton-registrarme-1">Guardar cambios</button>
                <button type="reset" class="boton-registrarme-1"><a class="back-link" href="/">Cancelar</a></button>

        </form>
       </main>
       
    <%- include('./partials/footer') %>

    <script src="/js/js-editProduct.js"></script>

</body>
</html>