<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Mi carrito'}) %>

    <body>
        <%- include('./partials/header') %>
            <main class="cart-main">
                <div class="cart-title">
                     <h5 class="section-name">MIS COMPRAS</h5>
                </div>
          

                <%for(product of productsList){ %> 
                <div class="cart-article">
                    <div class="product-photo">
                        <img class="product-img" src="/images/products/<%= product.image %> " alt="Imagen de Producto">
                    </div>
                       
                    
                    <div class="product-info">

                    <div class="product-name"><%=product.name %></div>
                    <div class="product-price">Precio online:  $<%= product.price %></div>
                    <div class="product-discount">Ahorrás un <%= product.discount %>%</div>
                    </div>
                </div>
            <% } %> 
           
             
                
                
     
                
                    
                   
                 
                    
                    
                   
                
                </article>
                <div class="buy-button">
                    <button type="button" class="boton-continuar"><a href="#">Continuar el proceso de compra</a></button>
                </div>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>