<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Detalle de Producto'}) %>

    <body>
        <%- include('./partials/header') %>
            <main>
               
                <section  class="prodDetail-box">
                    
                        <img src="/images/products/<%= product.image%>" class="img-productDetail">
                    
                        <div class="product-detail">
                                <p class="product-name"><%=product.name %></p>
                                <p class="product-price">Precio online:  $<%= product.price %></p>
                                <p class="product-discount">Ahorrás un <%= product.discount %>&</p>
                                <p class="product-description"><%= product.description %> </p>
                             <br>
                            <div class="add-product-form">
                                <form action="/add-shopping-cart" method=PUT >
                                        <input class="add-product-button" type="button" value="Agregar a la bolsa">   
                                </form>
                            </div>
                            
                            <div class="delete-product-form">
                                <form action="/products/<%=product.id%>/delete?_method=DELETE" method="POST">
                                    <button type="submit" class="delete-product-button">Eliminar producto</button>                       
                                </form>
                            </div>
                        </div>
                       
                
                </section>
                    <!--

            <div class="info-envio">
                <div class="envio-gratis">
                    <img src="/images/envio-gratis.svg">
                    <span>Al comprar <br> esta prenda</span>
                </div>
                <div class="cambio-gratis">
                    <img src="/images/cambio-gratis.svg">
                    <span>Cambios <br> Gratis</span>
                </div>
                <div class="pago-efectivo">
                    <img src="/images/pago-efectivo.svg">
                    <span>Pago en <br> efectivo</span>
                </div>
            </div>-->
                
                <%- include('./partials/newArrivals') %>
                <section class="vender">
                    <div>
                        <h6>Vendé tu marca</h6><i class="far fa-lightbulb"></i>
                    </div>
                </section>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>